
<div class="table-responsive" >
    <form action="/update-attended" method="POST">
        <table class="table table-striped table-bordered">
            {% for user in users %}
            <tr><td><a href="/view-profile/{{user.user}}">{{user.user}}</a></td>
            {%if user.attended == "No" %}
             <td><div class="checkbox"><input type="checkbox" name="attended" value="user.user"></div></td></tr>
            {% elif user.attended == "Yes" %}
            <td><div class="checkbox"><input type="checkbox" name="attended" value="user.user" checked></div></td></tr>
            {%endif%}
            {%endfor%}
            </table>
        <input class="btn btn-default" type="submit" Value="Submit">
        </form>
    </div>

