<div class="content container">
    <h2>User List</h2>
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <tr class="active"><td><b>Email</b></td><td><b>View Profile</b></td></tr>
            {% for user in users %}
            <tr>
                <td>{{user.email}}</td>
                <td><a href="/admin/view-profile/{{user.email}}" ><button class="btn btn-default btn-sm">View</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>




</div>