<article class="content permissions">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Attendance For Event</div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>User Name</th>
                <th class="center">Attended</th>
            </tr>
            {% for user in users %}
            <tr>
                <td><a href="/view-profile/{{user.user}}">{{user.user}}</a></td>
                <td class="center"><span class="glyphicon glyphicon-{{ 'ok' if 'Yes' in user.attended else 'ban-circle' }}" onclick="change_attended('{{ user.user }}', '{{event_id}}', this)"></span></td>
            </tr>

            {% endfor %}

        </table>
    </div>
</article>

