<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <form id="edit-profile" action="user/edit-profile" method="POST">
            Email: <input type="text" name="email">
            <br>
            Current Password: <input type="password" name="password">
            <br>
            Country: <select name="country">
                    <option value="Scotland">Scotland</option>
                    <option value="England">England</option>
                    </select>
            <br>
            Place of Study: <select name="university">
                    <option value="Dundee">University Of Dundee</option>
                    <option value="Abertay">Abertay</option>
                    </select>
            <br>
            Level of Study: <select name="level">
                    <option value="undergrad">Undergraduate</option>
                    <option value="postgrad">Postgraduate</option>
                    </select>
            <br>
            

            <input type="submit" Value="Submit">
        </form>


</body>
</html>