<!-- Model required: event -->

<br>


<!-- Model required: event -->

<div>
    <div class="event">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#EventEditroModal{{event._id}}">Edit</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#EventDeleteConfirmModal{{event._id}}">Delete</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#EventRegisteredUsers{{event._id}}">View Registered Users</button>
    </div>

    <div class="panel-body">
        <h1>{{ event.title}}</h1>
        <p>{{ event.description|safe }}</p>
        {#event.start.strftime('%m/%d/%Y %I:%M %p')#}
    </div>
</div>





<!-- Modal -->
<div id="EventEditroModal{{event._id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Event</h4>
      </div>
      <div class="modal-body">
          <form id="event_edit_form{{event._id}}" >
                <label for="title{{event._id}}" class="control-label">Title:</label>
                <input type="text" class="form-control" name="title" id="title{{event._id}}" value="{{event.title}}">
                <input type="hidden" value="{{event._id}}" name="id">
                <label for="start" class="control-label">Start:</label>

                <!-- Date Picker -->
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker{{event._id}}'>
                                    <input type='text' class="form-control" id="start" value="{{event.start.strftime('%m/%d/%Y %I:%M %p')}}" name="start"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker{{event._id}}').datetimepicker();
                            });
                        </script>
                    </div>
                </div>
                <!-- Date Picker END -->
                <label for="end" class="control-label">End:</label>

                <!-- Date Picker -->
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker{{event._id}}2'>
                                    <input type='text' class="form-control" id="end" value="{{event.end.strftime('%m/%d/%Y %I:%M %p')}}" name="end"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker{{event._id}}2').datetimepicker();
                            });
                        </script>
                    </div>
                </div>
                <!-- Date Picker END -->
                <!-- Editor -->
                <script type="text/javascript" >
                tinymce.init({
                    selector: "#description{{event._id}}",
                    plugins: [
                        "advlist autolink lists link image charmap print preview anchor",
                        "searchreplace visualblocks code fullscreen",
                        "insertdatetime media table contextmenu paste"
                    ],
                    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
                });
                </script>

                <label for="description{{event._id}}" class="control-label">Description:</label>
                <textarea name="description" id="description{{event._id}}" style="width:100%">
                    {{ event.description }}
                </textarea>
                <!-- Editor END -->


            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" onclick="update_event('{{event._id}}')" class="btn btn-primary">Edit</button>
      </div>
    </div>

  </div>
</div>


<!-- Delete -->
<div id="EventDeleteConfirmModal{{event._id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are you sure you want to delete this event?</h4>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" onclick="delete_event('{{event._id}}')" class="btn btn-primary">Delete</button>
      </div>
    </div>

  </div>
</div>


<!-- Registered Users -->
<div id="EventRegisteredUsers{{event._id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        Users
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


