<Partial/>

<div class="filemanager-header">
	<i class="fa fa-arrow-left fa-3x"></i>
	<i class="fa fa-arrow-right fa-3x"></i>
	<form action="/admin/fileupload">
	  <input type="file" name="pic" accept="image/*">
	  <input type="submit">
	</form>
</div>

<div class="filemanager-body">
	<div class="filemanager-item">
		<a href="/admin/filemanager/(foldername)"> <i class="fa fa-folder-o fa-5x"></i></a>
	</div >
	<div class="filemanager-item">
		<a href="/admin/filemanager/(foldername)"> <i class="fa fa-folder-o fa-5x"></i></a>
	</div >
	<div class="filemanager-item">
		<a href="/admin/filemanager/(foldername)">  <i class="fa fa-folder-o fa-5x"></i></a>
	</div >
	<div class="filemanager-item">
		<a href="/admin/filemanager/(foldername)"> <i  class="fa fa-folder-o fa-5x"></i></a>
	</div >
</div>

<form action="">
  <input type="submit" value="Open">
</form>