<div class="hero"><img src="{{ url_for('static', filename='img/home-hero.png') }}" class="hero" alt="Responsive image">
</div>
<div class="content container">
    <!--Retrive 3 News from db based on current date-->
    <!-- I am assuming below 'article' are separate entries in the news table -->
    <div id="news-panel">
        <h1>Latest News</h1>

        <div class="pages">
            <ul>
                {% for article in news %}
                <li>
                    <div class="article">
                        <h2><a href="/article/{{article._id}}">{{ article.title }}</a></h2>

                        <p>{{ article.summary | safe}}</p>
                        <hr class="separator"/>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if news|length == 3 %}
        <h4 class="see-more"><a href="/news">See all news</a></h4>
        {% endif %}
    </div>
    <div id="events-panel">
        <h1>Upcoming Events</h1>
        {% for event in events %}
                    {% include 'items/event_small.html' %}
                    <hr class="separator"/>
        {% endfor %}
        <h4 class="see-more"><a href="/events">See event calendar</a></h4>
    </div>
</div>
