<div class="hero"><img src="{{ url_for('static', filename='img/home-hero.png') }}" class="hero" alt="Responsive image" ></div>
<div class="content">
    <!--Retrive 3 News from db based on current date-->
    <!-- I am assuming below 'article' are separate entries in the news table -->
    <div id="news-panel">
        <h1>Latest News</h1>

        {% for article in news %}
        <div class="article">
            <h2><a href="/article/{{ article._id }}">{{ article.title }}</a></h2>

            <p>{{ article.summary | safe}}</p>
            <hr class="separator"/>
        </div>
        {% endfor %}
    </div>
    <div id="events-panel">
        <h1>Upcoming Events</h1>
        {% for event in events %}
        {% include 'event_small.html' %}
        <hr class="separator"/>
        {% endfor %}
    </div>
    <!--To the right of these items a Calender?-->
</div>
​