<div class="hero"><img src="{{ url_for('static', filename='img/home-hero.png') }}" class="hero" alt="Responsive image" ></div>
<div class="content container">
    <!--Retrive 3 News from db based on current date-->
    <!-- I am assuming below 'article' are separate entries in the news table -->
    <div id="news-panel">
        <h1>Latest News</h1>

        <div class ="pages">
            <ul>
                {% for article in news %}
                <li >
                    <div class="article">
                        <h2>{{ article.title }}</h2>

                        <p>{{ article.summary | safe}}</p>
                        <hr class="separator"/>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="pagination pull-right"></div>
    </div>
    <div id="events-panel">
        <h1>Upcoming Events</h1>
        <div class="pages">
            <ul>
        {% for event in events %}
                <li>
                    {% include 'event_small.html' %}
                    <hr class="separator"/>
                </li>
        {% endfor %}
            </ul>
        </div>
        <div class="pagination pull-right"></div>
    </div>
    <!--To the right of these items a Calender?-->
</div>
​

<script>

	 pagingsys.init({selector: $("#news-panel"),
				     max_on_one_page: 2,
				   });
	 pagingsys.init({selector: $("#events-panel"),
				     max_on_one_page: 2,
				   });
</script>
