<div class="content-small container">
    <form id="login" action="/auth/login" method="POST" class="form-signin edit-uni">
        <h2 class="form-signin-heading">Log in</h2>

        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required
                   autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
                   required>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button id="signInButton" class="btn btn-lg btn-block btn-danger" type="submit">Sign in</button>
    </form>
</div>