<!--<div class="hero"><img src="{{ url_for('static', filename='img/home-hero.png') }}" class="hero" alt="Responsive image">-->
</div>
<div class="content container">
    <div id="news-panel">
        <h1>News</h1>

        <div class="pages">
            <ul>
                {% for article in news %}
                <li>
                    <div class="article">
                        <h2><a href="/article/{{article._id}}">{{ article.title }}</a></h2>

                        <p>{{ article.summary | safe}}</p>
                        <hr class="separator"/>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if news|length > 5 %}
        <div class="pagination"></div>
        {% endif %}
    </div>
</div>

<script>

	 pagingsys.init({selector: $("#news-panel"),
				     max_on_one_page: 5,
				   });

</script>