<div class="hero"><img src="{{ url_for('static', filename='img/home-hero.png') }}"  alt="Responsive image">
</div>
<div class="content container">
    <div id="news-panel-mine">
        <h1 class="sigmar">News</h1>

        <div>
            <ul>
                {% for article in news %}
                <li class="pages effect1">
                    <div class="article">
                        <h2 class="oswald">{{ article.title }}</h2>

                        <h5 class="lora">{{ article.summary | safe}}</h5>
                        <a href="/article/{{article._id}}" id="news-open-button-a"><div class="news-open-button"><strong>+</strong></div></a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if news|length > 5 %}
        <div class="pagination"></div>
        {% endif %}
    </div>
</div>

<script>

	 pagingsys.init({selector: $("#news-panel"),
				     max_on_one_page: 5,
				   });

</script>