<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
<script src="/static/js/universities.js"></script>

<div class="content container">
    <p>

        <label>Place of Study</label> <select size="5" class="form-control" id="university" name="university"
                                              onchange="populate_colleges()">
        {% for university in universities %}
        <option value="{{university.name}}">{{university.name}}</option>
        {%endfor%}</select>
        <br>
        <input class="form-control" type="text" id="unitoadd">
        <input class="btn btn-default" type="submit" value="Add" onclick="add_university()">
        <input class="btn btn-default" type="submit" value="Delete" onclick="delete_university()">


        <br>
        <label>Department Within University</label> <select size="5" class="form-control" id="college" name="college"
                                                        onchange="populate_courses()">
    </select>
        <br>
        <input class="form-control" type="text" id="collegetoadd">
        <input class="btn btn-default" type="submit" value="Add" onclick="add_college()">
        <input class="btn btn-default" type="submit" value="Delete" onclick="delete_college()">

        <br>

        <label>Degree Subject</label> <select size="5" class="form-control" id="course" name="course">
    </select>

        <input class="form-control" type="text" id="coursetoadd">
        <input class="btn btn-default" type="submit" value="Add" onclick="add_course()">
        <input class="btn btn-default" type="submit" value="Delete" onclick="delete_course()">

        <br>
        <label>Enter Your Current Password</label>
        <input class="form-control" type="password" id="password" name="password">
        <br>

    </p>
</div>

