<div class="content container edit-uni">
    {% if message %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% elif profile %}
    <h2>Profile</h2>
    {% if permissions == "admin" %}
    <a class="btn btn-success btn-lg dropdown-menu-right" href="/admin/edit-profile/{{email}}">Edit Profile</a>
    {% else %}
    <a class="btn btn-success btn-lg dropdown-menu-right" href="/edit-profile">Edit Profile</a>
    {% endif %}

    <!--</div>
    <div class="content container edit-uni">-->
    {% if profile.data|length != 0 %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr>
                <td><strong>First Name</strong></td>
                <td>{{profile.data['firstname']}}</td>
            </tr>
            <tr>
                <td><strong>Last Name</strong></td>
                <td> {{profile.data['lastname']}}</td>
            </tr>
            <tr>
                <td><strong>University</strong></td>
                <td> {{profile.data['university']}}</td>
            </tr>
            <tr>
                <td><strong>Level of Study</strong></td>
                <td> {{profile.data['level']}}</td>
            </tr>
            <tr>
                <td><strong>Country</strong></td>
                <td> {{profile.data['country']}}</td>
            </tr>
            <tr>
                <td><strong>School</strong></td>
                <td> {{profile.data['school']}}</td>
            </tr>
            <tr>
                <td><strong>Subject</strong></td>
                <td> {{profile.data['subject']}}</td>
            </tr>
            <tr>
                <td><strong>Year of Study</strong></td>
                <td> {{profile.data['year']}}</td>
            </tr>
        </table>
    </div>
    {% else %}
    <div>
        <p>You have no profile data yet. Why not add some (link) and earn some points?</p>
    </div>
    {% endif %}

    <h2>My Points</h2>

    {% if rank <= 50%}
    <p>You are {{ 'in the top ' + rank|string|truncate(2, True,end='')+'%' if rank != 0 else 'the absolute top'}} in
        points!</p>
    {% endif %}


    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Category</th>
                <th>My Points</th>
                <th>Points needed for bronze</th>
                <th>Points needed for Silver</th>
            </tr>
            {% set points = profile.data['points'] %}
            <tr>
                <td>Action</td>
                <td> {{ points.action }}</td>
                <td>40</td>
                <td>70</td>
            </tr>
            <tr>
                <td>Practice</td>
                <td> {{points.practice}}</td>
                <td>40</td>
                <td>70</td>
            </tr>
            <tr>
                <td>Theory</td>
                <td> {{points.theory}}</td>
                <td>42</td>
                <td>70</td>
            </tr>
            <tr>
                <td>Networking</td>
                <td> {{points.networking}}</td>
                <td>40</td>
                <td>70</td>
            </tr>
            <tr>
                <td>Virtual</td>
                <td> {{points.virtual}}</td>
                <td>n/a</td>
                <td>70</td>
            </tr>
            <tr>
                <td>Project</td>
                <td> {{points.project}}</td>
                <td>n/a</td>
                <td>70</td>
            </tr>
            <tr>
                <td><b>Total</b></td>
                <td><b>{{totalpoints}}</b></td>
            </tr>
        </table>
    </div>

    <h2 class="margin-top">My Awards</h2>
    {% if awards|length > 0 %}
    {% for award in awards %}
    <div class="media">
        <div class="media-left">
            <a href="#">
                <i class="fa fa-5x fa-star icon" style="color: {{ award.color }};"></i>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{award.name}} Award</h4>

            <p>Congratulations! You've got a {{ award.name|lower }} award! </p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>You have no awards yet! Check back after earning some more points.</p>
    {% endif %}


    <div class="table-responsive margin-top">
        <h2>Upcoming Events</h2>
        {% if events|length > 0 %}
        <table class="table table-bordered table-striped">
            <tr>
                <td><b>Event Name</b></td>
                <td><b>Event Date and Time</b></td>
            </tr>
            {% for event in events %}
            <tr>
                {% if event.start > date %}
                <td><a href="/event/{{event._id}}">{{ event.title }}</a></td>
                <td>{{event.start.strftime("%d-%m-%Y at %H:%M")}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
        <div class="table-responsive margin-top">
        <h2>Previous Events</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <td><b>Event Name</b></td>
                <td><b>Event Date and Time</b></td>
                <td><b>Points Gained</b></td>
            </tr>
            {% for event in attended_events %}
            <tr>

                <td><a href="/event/{{event._id}}">{{ event.title }}</a></td>
                <td>{{event.start.strftime("%d-%m-%Y")}}</td>
                <td>{{event.points}}</td>

            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>You're not registered for any events yet!</p>
        {% endif %}
    </div>
    {% endif %}
</div>
<script>
    $(".icon").hover(function() {
        $(this).addClass("fa-spin");
    }, function() {
        $(this).removeClass("fa-spin");
    });


</script>