<div id="quiz-container">
    <ul id="quiz-question-list">
        {% for question in active_quiz.questions %}
        <li>
            <div id="quiz-question-container">
                <div class="only-quiz-edit-mode"><a onclick="quizJs.remove_question(this)">delete</a></div>
                <div class="only-quiz-edit-mode">
                    <input type="text" name="question_text" value="{{ question.question }}">
                </div>
                <div class="only-quiz-user-mode">
                    <h1>{{question.question}}</h1>
                    <input type="hidden" name="question_text" value="{{ question.question }}"/><br>
                </div>
                {% set question_index = loop.index %}
                <ul id="quiz-answer-list">
                {% for answer in question.answers  %}
                    <li >
                        <div class="only-quiz-edit-mode" >
                            <input type="checkbox" name="answer_correct" value="{{answer.correct}}">
                            <input type="text" name="answer_text" value="{{answer.answer_text}}">
                            <a onclick="quizJs.remove_answer(this)">delete</a>
                        </div>
                        <div class="only-quiz-user-mode" id="quiz-answer" onclick="quizJs.markAnswer(this)">
                            <input type="hidden" name="answer_text" value="{{ answer.answer_text }}"/><br>
                            {{answer.answer_text}}
                        </div>
                    </li>
                {% endfor %}
                </ul>
                <div class="only-quiz-edit-mode">
                    <a onclick="quizJs.add_answer(this)">Add new answer +</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <ul class="pagination" id="quiz-pagination">
        <li class="only-quiz-edit-mode"><a onclick='quizJs.add_question(this)'>+</a></li>
    </ul>
    <div class="only-quiz-user-mode button-custom indie" id="quiz-completed-button" onclick="quizJs.send_compelted_quiz()">
        Submit
    </div>

</div>