<br><br><br><br><br>

<table class="table quiz-profile-table" align="center">
    <thead>
      <tr>
        <th><h2>Quiz Status</h2></th>
      </tr>
    </thead>
      <tr>
        <td>Tried at::</td>
        <td>{{quiz_profile.last_try}}</td>
      </tr>
      <tr>
        <td>Passed:</td>
          {% if not quiz_profile %}
            <i class="fa fa-check"></i>
          {% else %}
            <i class="fa fa-check"></i>
          {% endif %}
        <td>{{quiz_profile.passed}}</td>
      </tr>
      {% if not quiz_profile %}
          <tr>
            <td><a href="/quiz/{{quiz_id}}">Start</a></td>
          </tr>
      {% endif %}
  </table>