.content {
    max-width: 720px;
    margin: 70px auto;
}

.content-small {
    max-width: 480px;
    margin: 70px auto;
}

.navbar > div{
    margin-top: 5px;
}

.pagination {
    margin: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 16px;
}

.pagination {
    cursor: pointer;
}

.pagination>li>a:hover {
    text-decoration: none;
}

.navbar-brand > img {
    margin-left: 5px;
    vertical-align: middle;
}

.hero {
    margin-top: 15px;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

.content img {
    max-width: 100%;
}

#registered {
    color: #959595;
}

.margin-top {
    margin-top: 15px;
}

.footer-border {
    border-top: 1px solid #e2e2e2;
    width: 100%;
}

hr {
    max-width: 50px;
    margin: 0 auto;
    color: #942239;
}

#news-panel a {
    color: #000000;
}

#news-panel a:hover {
    color: #000000;
    text-decoration: underline;
}

.pagination {
    cursor: pointer;
}

.pagination>li>a:hover {
    text-decoration: none !important;
}

ul {
    list-style: none;
    padding: 0;
}

#events-panel {
    margin-top: 60px;
}

#events-panel a {
    color: #000000;
}

#events-panel a:hover {
    color: #000000;
    text-decoration: underline;
}

.center {
    text-align: center;
}

td.center.middle {
    vertical-align: middle;
    padding: 0;
    line-height: 0;
}

.permissions span:hover {
    color: #15AE15;
    cursor: pointer;
}

.event > h2 {
    font-weight: 100;
}

.article > h2 {
    font-weight: 100;
}

.event > p {
    font-size: 15px;
}

.article > p {
    font-size: 15px;
}

.bronze {
    color: #cd7f32;
}

.silver {
    color: #c0c0c0;
}

.gold {
    color: #ffd700;
}