.content {
    max-width: 720px;
    margin: 70px auto;
}

.center {
    text-align: center;
}

td.center.middle {
    vertical-align: middle;
    padding: 0;
    line-height: 0;
}

.permissions span:hover {
    color: #15AE15;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .loginBar {
        display: none;
    }
    #loginButton {
        display: block;
    }
}