
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div id="page-designer-sidebar" class="col-xs-1 col-sm-1 col-md-1">
        {% include 'designer/sidebar.html' %}
    </div>
    <div id="page-designer-content" class="col-xs-11 col-sm-11 col-md-11">
        {% include 'designer/panel.html' %}
    </div>
</div>
<script>
    pageDesigner.init({sidebar: $("#page-designer-sidebar"),
                       panel: $("#page-designer-sidebar"),
                       toolbar: $("#page-designer-sidebar")})

</script>