<!-- Model required: article -->
<td>

<a href="/admin/article/edit/{{article._id}}"><button type="button" class="btn btn-info btn-group-sm">Edit</button></a>
<button type="button" class="btn btn-info btn-group-sm" data-toggle="modal" data-target="#ArticleDeleteConfirmModal{{article._id}}">Delete</button>
 <h2>{{ article.title }}</h2>
</td>
<td>
    <div class="article">

        <p>{{ article.summary | safe}}</p>
        <hr class="separator"/>
    </div>
</td>

<div id="ArticleDeleteConfirmModal{{article._id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" onclick="delete_article('{{article._id}}')" class="btn btn-primary">Delete</button>
          </div>
        </div>

      </div>
    </div>



