<div class="margin-top panel ">
    <div class="panel-heading">

<a href="/admin/article/edit/{{article._id}}"><button type="button" class="btn btn-default btn-group-sm">Edit</button></a>
<button type="button" class="btn btn-default btn-group-sm" data-toggle="modal" data-target="#ArticleDeleteConfirmModal{{article._id}}">Delete</button>
        </div>
    <div class="panel-body">
    <h2>{{ article.title }}</h2>
        {#article.start.strftime('%m/%d/%Y %I:%M %p')#}
        </div>
    <br>
</div>
<div>
    <div class="article">

        <p>{{ article.summary | safe}}</p>
    </div>
</div>

<div id="ArticleDeleteConfirmModal{{article._id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" onclick="delete_article('{{article._id}}')" class="btn btn-primary">Delete</button>
          </div>
        </div>

      </div>




