<script>

    function register_event(id, object) {
        $.ajax({
            type: "GET",
            url: "/event/signup/" + id,
            success: function(ss){
                $("#errorMessage").css('display', 'none');
               if($("#register-symbol").hasClass('glyphicon-ok')) {
                    $("#register-symbol").removeClass('glyphicon-ok');
                    $("#register-symbol").addClass('glyphicon-remove');
                    $("#register-message").text('Unregister');
                    var currentDate = new Date();
                    $("#registered-date").text('You registered on ' + currentDate.getDate() + '-' + (currentDate.getMonth()+1) + '-' + currentDate.getFullYear());
               } else {
                    $("#register-symbol").removeClass('glyphicon-remove');
                    $("#register-symbol").addClass('glyphicon-ok');
                    $("#register-message").text('I want to Register');
                    $("#registered-date").text('');
               }
            },
            error: function(err, status, message) {
                if(err.status == 401) {
                    $("#errorMessage").html('<span class="glyphicon glyphicon-exclamation-sign"></span> You need to log in before you can register to events.');
                    $("#errorMessage").css('display', 'block');
                } else {
                    $("#errorMessage").html('<span class="glyphicon glyphicon-exclamation-sign"></span> We couldn\'t sign you up to this event. Sorry!');
                    $("#errorMessage").css('display', 'block');
                }
            }
        });
    }


</script>

<div class="event-news-large-container">
    <h1 class="oswald">{{ event.title }}</h1>
    <h4 class="lora">
        from {{ event.start.strftime("%d-%m-%Y at %H:%M") }} until {{ event.end.strftime("%d-%m-%Y at %H:%M") }}
    </h4>
    
    <div class="margin-top event-large-content lora">{{ event.description | safe }}</div>
    {% if event.end > date %}
    {% if registered %}
    <span id="registered"><button type="button" class="button-custom button-register indie"
                                  onclick="register_event('{{ event._id }}', this)"><span
            class="glyphicon glyphicon-remove" id="register-symbol"></span> <span
            id="register-message">Unregister</span></button> <span id="registered-date">You registered on {{ registered.date }}</span></span>
    {% else %}
    <span id="registered"><button type="button" class="button-custom button-register indie"
                                  onclick="register_event('{{ event._id }}', this)"><span class="glyphicon glyphicon-ok"
                                                                                          id="register-symbol"></span>
        <span id="register-message">I want to Register</span></button> <span id="registered-date"></span></span>
    {% endif %}

    <div class="alert alert-danger" role="alert" id="errorMessage" style="display: none; margin: 15px 0;"><span
            class="glyphicon glyphicon-exclamation-sign"></span> We couldn't sign you up to this event. Sorry!
    </div>
    {% endif %}
</div>