
<div class="content row container ">

    <div id="events-panel" class="panel panel-success">
       <div class="panel-heading"><h4>Events Admin</h4></div>
        <div class="panel-body">
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#EventEditroModalNew">Add new Event</button>
        </div>
     </div>
</div>
    <!--Retrive 3 News from db based on current date-->
    <!-- I am assuming below 'article' are separate entries in the news table -->
<div id="to-page" class="content row container">
    <div class="pages">
        <ul>
            {% for event in events %}
                <li >
                    {% include 'items/event_admin.html' %}
                    <!--<hr class="separator"/>-->
                </li >
            {% endfor %}
        </ul>
    </div>
    <div class="pagination">

    </div><!--To the right of these items a Calender?-->
</div>


<script>

	 pagingsys.init({selector: $("#to-page"),
				     max_on_one_page: 3,
				   });
</script>







