<!-- Model required: event -->
<a href="/event/{{ event._id }}" class="event-link">
    <div class="event-container">
        <div class="event-date">
            <div class="event-date-content">
                <h3 class="event-day">{{ event.start.strftime("%d") }}/{{ event.start.strftime("%m") }}</h3>

                <h5 class="event-time">{{ event.start.strftime("%H:%M") }}</h5>
            </div>
        </div>
        <div class="event-title covered">
            <h4>{{ event.title|truncate(51,True,end='...')}}</h4>
        </div>
    </div>
</a>