<div id="news-panel">
    <h1>Latest News</h1>

    <div class="pages">
        <ul>
            {% for article in news %}
            <li>
                <div class="article">
                    <h2><a href="/article/{{article._id}}">{{ article.title }}</a></h2>

                    <p>{{ article.summary | safe}}</p>
                    <hr class="separator"/>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if news|length == 3 %}
    <h4 class="see-more"><a href="/news">See all news</a></h4>
    {% endif %}
</div>