<div id="news-panel">
    <h3 class="sigmar">Latest News:</h3>

    <div>
        <ul>
            {% for article in news %}
            <li class="pages effect1">
                <div class="article">
                    <h2 class="oswald">{{ article.title }}</h2>

                    <h5 class="lora">{{ article.summary | safe}}</h5>
                    <!--<hr class="separator"/>-->
                    <a href="/article/{{article._id}}" id="news-open-button-a"><div class="news-open-button"><strong>+</strong></div></a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if news|length == 3 %}
    <h4 class="see-more"><a href="/news">See all news</a></h4>
    {% endif %}



    <a href="/news"><div class="button-custom indie">MORE NEWS <span class="fa fa-chevron-right"></span></div></a>

</div>